@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-Links a.active {
    color: #f80000;
    font-weight: bold;
}
.dashboard-Links a {
    background-color: transparent;
}
.label{
    font-weight: 500;
}






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}